{% extends 'mobilenavbase.html' %}
{% block meta %}
	<title>Map</title>
    {{block.super}}
{% endblock %}
{% block head_scripts %}
	{{block.super}}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
    <script type="text/javascript" src="/static/ctamap.js">
    </script>
{% endblock %}
{% block content %}

<div data-role="page" id="map_page" data-title"Map">

	<div data-role="header" class="page_header">
		<a href="">GPS</a>
		<h1>Map</h1>
	</div><!-- /header -->

	<div data-role="content" class="page_content">
		<div id="map_canvas">
		</div>
	</div><!-- /content -->

	<div data-role="footer" class="page_footer" data-position="fixed" data-id="footer">
		<div data-role="navbar">
			<ul>
				<li><a class="ui-btn-active" href="#">Map</a></li>
				<li><a href="#">Favorites</a></li>
				<li><a href="#">Recent</a></li>
				<li><a href="#">Search</a></li>
			</ul>
		</div>
	</div><!-- /footer -->
</div><!-- /page -->
{% endblock %}