{% extends 'jqmpage.html' %}

{% block head_scripts %}
	{{ block.super }}
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/static/ctamap.js"></script>
{% endblock %}
 
{% block head_links %}
{{ block.super }}

<style>
html  			{ height: 100% }
body  			{ height: 100%; margin: 0; padding:0; }
#page 			{ height: 100%; margin: 0; padding:0; }
#page_content	{ height:94%; padding:0; }
#map_canvas		{ height:100%; padding:0; }
</style>
{% endblock %}


{% block page_header %}
	<a href="#" data-role="button" data-icon="grid">Jump</a>
	<h1>MAP V3 Sample</h1>
	<a href="#" data-role="button" data-icon="location" id="gps_button">GPS</a>
{% endblock %}

{% block page_content %}
	<div id="map_canvas"></div>
{% endblock %}
