{% extends 'base.html' %}
{% block meta %}
{{ block.super }}
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
{% endblock %}
{% block head_links %}
	{{block.super}}
	<link type="text/css" rel="stylesheet" href="/static/mobilesite.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
{% endblock %}
{% block head_scripts %}
	{{block.super}}
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
{% endblock %}
{% block bodycontent %}
{% block content %} {% endblock %}
{% endblock %}
