{% extends 'jqmpage.html' %}

{% block title %}
CTA Stop at {{stop.stopName}}
{% endblock %}

{% block head_scripts %}
{{block.super}}
<script>
$(document).ready(function() {
	$('#refresh_button').click(function(e) {
		e.preventDefault();
		location.reload();
	});
});
</script>
{% endblock %}

{% block page_header %}
	<a data-role="button" href="#" data-icon="arrow-l" data-rel="back">Back</a>
	<h4>{{stop.stopName}}</h4>
	<a id="refresh_button" data-icon="refresh" data-role="button" href="/">Refresh</a>
{% endblock %}


{% block page_content %}
	<ul data-role="listview" data-inset="true">
		<li>{{stop.stopName}}</li>
		<li>Stop # {{stop.stopId}}</li>
	</ul>
	
	{% if times|length > 0 %}
	<ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Search upcoming routes...">
			{% for time in times %}
				<li>
					<a href='/agency/{{agencyId}}/trip/{{time.tripId}}/stop/{{stop.stopId}}/'>
						 <div class="stop_time">
							<div class="stop_time_route">
							{{time.routeId}} - {{time.headSign}}
							</div>
							<div class="stop_time_time">
								{{time.displayTimeDelta}} {{time.timeDifference}}
							</div>
						</div>
					</a>
				</li>
			{% endfor %}
	</ul> 
	{% else %}
		<ul data-role="listview" data-inset="true">
			<li> No service scheduled in the next hour</li>
	</ul> 
	{% endif %}
	
	
	<!--
	<ul data-role="listview" data-inset="true">
		<li>
			<a href="#">Add to favorites</a>
		</li>
		<li>
			<a href="#">Filter & sort routes</a>
		</li>
		<li>
			<a href="#">See nearby stops</a>
		</li>
	</ul> -->
{% endblock %}