{% extends 'mobilenavbase.html' %}
{% block content %}
<div data-role="page" id="details_page" data-title"Stop">

	<div data-role="header" class="page_header">
		<a data-rel="back" href="#">Back</a>
		<h1>Stop</h1>
	</div><!-- /header -->

	<div data-role="content" class="page_content">
		<p>astop asdf asdf</p>
	</div><!-- /content -->

	<div data-role="footer" class="page_footer" data-id="footer">
		<div data-role="navbar">
			<ul>
				<li><a class="ui-btn-active" href="#">Map</a></li>
				<li><a href="#">Favorites</a></li>
				<li><a href="#">Recent</a></li>
				<li><a href="#">Search</a></li>
			</ul>
		</div>
	</div><!-- /footer -->
</div><!-- /page -->
{% endblock %}