#page-stop-details li, #page-stop-details li a
{
	/*text-align: center;*/
}


/* Bubble */
#bubble {
	text-align: center;
	border: 1px solid black; 
	margin-top: 8px; 
	background-color: #FFFFFF; 
	padding: 5px;
	cursor: pointer;
}

#bubble_routes_served {
	padding-top:5px;
}

.bubble_route_id
{
	font-weight: bold;
	text-align:center;
	padding: 2px;
}
/* end Bubble */

/* stop details page */
#stopmap {
	margin-left: 10%;
	width: 256px;
	height: 256px;
}

#stop-aux-details .ui-li-thumb, .ui-listview .ui-li-icon {
	max-height:256px;
	max-width:256px;
}

#stop-map-li {
	height:260px;
}
/* end stop details page */
